target/
project/boot/
.idea/
.idea*
*.log
*.loaded
*.pid
##
## emacs & ensime
##
project/.ensime
**/.ensime*
**/.bloop
**/.tags
**/.TAGS
.#*
*.swp
.history
.cache
native/
**/classes/
##
## local overrides
##
.envrc
GPATH
GRTAGS
GTAGS
nohup.out
